.sidebar{
    .button{
        border: 1px solid hsl(150, 54%, 47%, 0.5);
        margin: 8px 0;
        &:hover{
            background-color: hsl(150, 54%, 47%, 0.3);
            border: 1px solid hsl(150, 54%, 47%, 0.3);
        }
        
    }
    
    
    .icon1{
        fill: #37b978;
    }
    
    .none{
        &:hover{
            background-color: #37b978;
            border: 1px solid hsl(150, 54%, 47%);
        }
    }
    
    .sublist{
        background-color: hsl(150, 54%, 47%, 0.15);
        div{
            &:hover{
                background-color: hsl(150, 54%, 47%, 0.25);
                transition: all;
                transition-duration: 500ms;
            }
        }
    }
}