input {
    display: block;
    margin: auto;
    border-radius: 15px;
    background-color: var(--white-color);
    border: 1px solid #1F1F1F1A;
    &:focus::placeholder {
        transition: all 0.3s ease;
        opacity: 0;
    }
}