.create-work {
    background-image: url('../../../../assets/register/work/bg1.jpg'), url('../../../../assets/register/work/bg2.jpg');
    background-position: left bottom, right top;
    background-size: contain;
    background-repeat: no-repeat, no-repeat;
    .box {
        background-color: #F9F7F3;
        left: 50%;
        top: 0;
        width: 50%;
        transform: translateX(-50%);
        .top {
            .logo {
                img {
                    width: 30px;
                }

                a {
                    span {
                        margin-bottom: 2px;
                        margin-left: 10px;
                    }
                }
            }
        }

        .contain {
            h2 {
                font-size: 1.6em;
            }
            .btn-gradient {
                color: #fff;
                background: linear-gradient(90deg, #00AEEF 0%, #37B778 100%);
                padding: 12px 0;
                border-radius: 15px;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;

                &:hover {
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px;
                }
            }   

            .forget {
                a {
                    transition: all 0.3s ease;
                    font-weight: 400;

                    &:hover {
                        color: black;
                    }
                }
            }

            .other {
                .line {
                    flex-grow: 1;
                    height: 1px;
                    background-color: #1F1F1F1A;
                }
            }

            .social-media {
                .social {
                    padding: 12px 16px;
                    border-radius: 20px;
                }
            }
        }
    }
    @media (max-width: 1040px) {
        & {
            background-size: cover;
            .box {
                width: 70%;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                border-radius: 40px;
            }
        }
    }
    @media (max-width: 767px) {
        & {
            .box {
                width: 100%;
                border-radius: 0;
            }
        }
    }
    @media (max-width: 600px) {
        & {
            .box {
                .contain {
                    width: 80%;
                }
            }
        }
    }
    @media (max-width: 600px) {
        & {
            .box {
                background-color: #fff !important;
                .contain {
                    width: 95%;
                    form {
                        input {
                            background-color: #fff;
                        }
                    }
                }
            }
        }
    }
}