.btn-gradient {
    color: #fff;
    background: linear-gradient(90deg, #00AEEF 0%, #37B778 100%);
    padding: 12px 0;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    transition: all 0.3s ease;
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px;
        transform: translateY(-3px);
    }
}