#ClientNeeds{
    #wrapper{
        #slides{
            #icon, #grid{
                border: 2px white solid;
            }
            #icon{
                background-color: hsl(150, 54%, 47%);
                height: 16px;
                width: 3rem;
                margin: .4rem 0;
            }
        }
        #grid{
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(3, 1fr); /* Three columns */
            grid-auto-rows: auto; /* Automatically sized rows */
            gap: 15px 10px; /* Gap between grid items */
            #icon{
                background-color: #37B778;
                height: 12px;
            }
        }
        .giveBorder{
            border: 2px solid #37B778;
        }
    }
}