.footer {
    font-optical-sizing: auto;
    font-style: normal;
    box-shadow: 0px 0px 30px 0px #0000001A;
    .container {
        .boxes {
            .box {
                ul {
                    li {
                        font-family: "Red Hat Display", sans-serif !important;
                        &:hover {
                            color: #000;
                        }
                    }
                }
            }
        }
    }
}