.sideBarBtn{
    .active{
        background-color: hsl(150, 54%, 47%);
        #icon, #title {
            color: white;
        }
    }
    
    .button{
        margin: 0;
    }
    
    .active-link {
        background-color: hsl(150, 54%, 47%);
        div {
            background-color: hsl(150, 72%, 25%);
            color: white;
        }
    }
}