.sideBarBtn {
  .active-link {
    .Freelancer {
      background-color: hsl(148, 78%, 20%);
      color: white;
    }
    .Client{
        background-color: #007dab;
        color: white;
    }
  }
}

.active-link {
  .Freelancer {
    background-color: hsl(148, 78%, 20%);
    color: white;
  }
  .Client{
    background-color: #007dab;
    color: white;
  }
}

