* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: "Unbounded", sans-serif;
}
@media ((min-width: 1000px) and (max-width: 1300px)) {
    .container {
        width: 85% !important;
        margin-left: auto;
        margin-right: auto;
    }
}

.primaryfont, h1, h2, h3, h4, h5, h6 {
    font-family: "Unbounded", sans-serif;
}

.secondaryfont, p {
    font-family: "Red Hat Display", sans-serif;
}